<div class = "container my-4">
  <h1>
    Creating a room
  </h1>

  <%= simple_form_for @room, html: { autocomplete: 'off' } do |form| %>
    <%= form.input :name,
                   html: { autocomplete: 'off' } %>
    <%= form.submit "Save Channel", class: 'btn btn-success' %>
  <% end %>
</div>